appdirs==1.4.4
asgiref==3.8.1
atomicwrites==1.4.0
backports.weakref==1.0.post1
bs4==0.0.2
clyent==1.2.1
Django==5.0.7
django-cors-headers==4.4.0
djangorestframework==3.15.2
et-xmlfile==1.1.0
fastapi==0.115.6
fonttools==4.25.0
h11==0.14.0
huggingface-hub==0.26.5
inflection==0.5.1
jsonpointer==2.1
mariadb==1.1.10
memory-profiler==0.61.0
mkl-service==2.4.2
munkres==1.1.4
mysqlclient==2.2.4
openpyxl==3.0.10
patsy==0.5.3
ply==3.11
protobuf==3.20.3
pyasn1-modules==0.2.8
pycurl==7.45.2
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-lsp-jsonrpc==1.0.0
safetensors==0.4.5
scipy==1.11.4
sqlparse==0.5.1
starlette==0.41.3
streamlit==1.36.0
sympy==1.13.1
tokenizers==0.21.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
transformers==4.47.0
uvicorn==0.34.0
webencodings==0.5.1
zstandard==0.19.0
